//COLORS
$color-primary: #333;
$color-secondary: #efa047;
$color-tertiary: #ededed;

$color-white: #fff;
$color-black: #000;

//SPACING
$s-size: 1rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$xxl-size: 4.8rem;

//FONT
$default-fs: 1.6rem;
