*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} 
html {
  font-size: 62.5%;
  box-sizing: border-box; 
}

body {
  box-sizing: border-box;
  @include respond(s-phone) {padding: 0 2rem 0 2rem;}
  @include respond(xs-tab) {padding: 0 ;}
}



